<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
  <title>Home - Best Five Bcn</title>
</head>

<body>
  <header>
    <img src="/images/logo/logo-pink-hand.png" alt="logo best five">
  </header>
  <div class="menu">
    <div class="logLogic">
      <a href=""><img src="https://img.icons8.com/metro/52/000000/add-user-male.png"> Register</a>
      <a href=""><img src="https://img.icons8.com/material-rounded/48/000000/login-rounded-right.png"> Login</a>
      <!-- <a href=""><img src="https://img.icons8.com/metro/52/000000/shutdown.png">
        Logout</a> -->
    </div>
    <div class="nav">
      <a target="_blank" href="/reviews"><img src="https://img.icons8.com/ios/100/000000/cloud-filled.png"> Database</a>
      <a target="_blank" href="/reviews/new"><img src="https://img.icons8.com/ios/100/000000/hand-with-pen-filled.png">
        Review Form</a>
    </div>
  </div>




</body>

</html>