@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h1 {
  font-weight: 400;
  margin: 0 auto;
  padding: 20px;
  font-size: 3rem;
}

h2 {
  font-weight: 100;
  margin: 0;
  color: white;
}

h3 {
  font-size: 1rem;
  font-weight: 100;
}

textarea {
  border: none;
  background: transparent;
  color: white;
  padding: 20px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  outline: 0px none transparent
}

textarea::-webkit-input-placeholder {
  color: white;
}

#place-name {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

#place-name input {
  padding: 10px 30px;
  max-width: 300px;
  text-align: center;
  font-size: 1.3rem;
  background: rgb(254, 206, 206);
  -webkit-box-shadow: 2px 4px 12px -2px #124375;
  -moz-box-shadow: 2px 4px 12px -2px #124375;
  box-shadow: 2px 4px 12px -2px #124375;
  border-radius: 15px;
  border: none;
  font-weight: 100;
}

#category {
  width: 100%;
  text-align: center;
  max-width: 260px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 12px -2px #124375;
  -moz-box-shadow: 2px 4px 12px -2px #124375;
  box-shadow: 2px 4px 12px -2px #124375;
  background: -webkit-linear-gradient(to right, #6e92b7, #4f555b);
  background: linear-gradient(to right, #6e92b7, #124375);
  border-radius: 15px;
}

#category h2 {
  margin-bottom: 10px;
}

#date-review {
  padding-bottom: 15px;
}

#date-review input {
  font-size: 1rem;
}

.row {
  width: 100%;
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px 0;
  /* webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75); */
  -webkit-box-shadow: 2px 4px 12px -2px #124375;
  -moz-box-shadow: 2px 4px 12px -2px #124375;
  box-shadow: 2px 4px 12px -2px #124375;
  background: -webkit-linear-gradient(to right, #6e92b7, #4f555b);
  background: linear-gradient(to right, #6e92b7, #124375);
  border-radius: 15px;
}

.rate {
  padding-bottom: 10px;
}

#button {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

#button input {
  background: #6e92b7;
  color: white;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}