body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
  background: whitesmoke;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

header {
  width: 100%;
  text-align: center;
  background: whitesmoke;
  padding: 20px;
  margin: 0 auto;
}

header a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  background: rgb(152, 233, 112);
  border-radius: 5px;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

table {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

thead {
  background: rgb(175, 173, 173);
  color: white;
}


thead tr th {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
}

tbody tr td {
  font-weight: 100;
  padding: 10px;
  border-bottom: 1px solid grey;
  text-align: center;
}


#search-bar {
  padding: 20px 0;
  text-align: center;
}

#search-bar input {
  padding: 10px 40px;
  border: 1px solid rgb(51, 51, 51);
  font-size: 1rem;
  text-align: center;
  background: whitesmoke;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
}

a[data-tool-tip] {
  position: relative;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  position: absolute;
  background-color: rgb(249, 244, 123);
  padding: 1em 3em;
  color: #000;
  border-radius: 5px;
  font-size: .8em;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  transform: scale(0);
  transition:
    transform ease-out 150ms,
    bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
}